@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Source+Code+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', "Poppins";
    font-weight: 300;
    color: #3b4754;
}

/* home page  */

header {
    overflow: hidden;
    padding: 10px 10px;
}

h1 {
    font-family: "Source Code Pro", "Poppins";
    letter-spacing: normal;
    color: #000000;
    font-weight: lighter;
}

#logo,
#menu {
    line-height: 75px;
}

#logo {
    float: left;
    font-size: 250%;
    font-weight: 900;
    color: #000000;
}

#menu {
    float:right;
    font-size: 110%;
    color: #181d22;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-left: 1px solid #312d2d;
}

.active {
    border-left: 1px solid #312d2d;
}

.trans {
    background-color: rgb(14, 13, 13, 0.6);
    height: 670px;
    width: 100%;
}

#dish {
    float: left;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.dish-photo {
    background: url('../images/salmon.png') center center transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-title {
    float: left;
    position: absolute;
    top: 10%;
    padding-left: 10%;
}

.food {
    font-size: 72px;
    font-weight: lighter;
    color: white;
    font-family: "Poppins", "Source Code Pro";
    text-align: center;
    line-height: 100%;
}

.competition {
    font-size: 30px;
    color: white;
    font-family: inherit;
    text-align: center;
    line-height: 220%;
    margin-top: -4%;
}

.enter-button {
    float: left;
    background-color: #181d22;
    text-align: center;
    color: white;
    height: 40px;
    width: 130px;
    margin: 0;
    padding-top: 1%;
    font-weight: bold;
}

.enter-button,
a {
    text-decoration: none;
    color: white;
}

.enter-button,
a:hover {
    color: #c3f7c6
}

.about {
    background-color: rgba(102, 92, 1, 0.349);

    width: 300px;
    height: 170px;

    padding: 10px;
    position: absolute;
    bottom: 200px;
    right: 10px;
}

.about h4 {
    color: white;
    font-weight: bold;
    font-size: 120%;
    text-transform: uppercase;
    font-family: "Source Code Pro", "Poppins";
    line-height: 30px;
}

.about p {
    color: white;
    font-size: 70%;
    font-family: "Poppins", "Source Code Pro";
    text-align: left;
}

footer {
    height: 50px;
}

.social-media {
    position: fixed;
    bottom: 0;
    top: 90%;
    left: 0%;
    right: 0%;
    background-color: white;
    text-align: center;
}

.social-media>li {
    display: inline-block;
    width: 70px;
    height: 3px;
}

.social-media i {
    font-size: 100%;
    color: #767c6b;
    padding: 3px;
    margin: 20px;
    text-align: center;
}

/* gallery page */
#gallery {
    clear: both;
    width: 80%;
}

#g-title {
    margin-bottom: 10px;
}

#g-title>h1 {
    font-size: 20px;
    clear: both;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #312d2d
}

#g-title>h2 {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

#photo-gallery {
    background-color: #d7d8d4;
    max-width: 100%;
    overflow: hidden;
    line-height: 0%;
    column-count: 5;
    column-gap: 0;
    text-align: center;
    display: block;
    border-radius: 10px;
    float: left;
    width: 1000px;
    position: absolute;
    right: 0%;
    left: 12%;
}

#photo-gallery img {
    height: auto;
    width: 100%;
}

#photo-gallery figcaption {
    line-height: 15px;
    font-size: 14px;
    text-align: center;
    font-family: "Source Code Pro", "Poppins";
    color: #312d2d;
    padding: 10px;
    caption-side: bottom;
}

/* Contact page */

.main {
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.contact {
    border: solid 1px;
    max-width: 40%;
    margin-right: 20px;
}

.contact h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
}

.judges {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.judges img {
    width: 50%;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
}

.c-form {
    max-width: 40%;
    border: solid 1px;
    width: 100%;
}

.c-form h1 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}

#form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

#form label {
    padding: 19px 0;
    width: 100%;
}

#form ul {
    padding: 0px 2px 0 0;
}

#form li {
    list-style: none;
    font-size: 16px;
    width: 100%;
}


#form input {
    border: 1px solid #c9d3dd;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    max-width: fit-content;
}

#form .fullname {
    width: 100%;
}

#form .email {
    width: 100%;
}

#form textarea {
    border: 1px solid #c9d3dd;
    padding: 10px 10px 0 0;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.radio-button label {
    line-height: 15px;
    width: 70%;
    text-align: left;
}

#form label {
    display: block;
    height: 10px;
    text-align: left;
}

.submit-b button {
    border-radius: 5px;
    padding: 5px 5px;
    width: 180px;
    height: 40px;
    background-color: #767c6b;
    color: #c9d3dd;
    font-size: inherit;
    font-family: inherit;
}

.success {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20%;
    top: 30%;
    box-sizing: border-box;
    height: 50%;
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid #3b4754;
}

.success h1 {
    padding: 5%;
    font-size: 30px;
    text-align: center;
}

.success p {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

/* media queries */
@media screen and (max-width: 1029px) {

    #gallery {
        width: 80%;
    }

    #photo-gallery {
        width: 74%;
        column-count: 2;
    }

    @media screen and (max-width: 642px) {

        header {
            float: none;
            display: block;
            text-align: left;
        }

        .food {
            font-size: 55px;
        }

        .competition {
            font-size: 22px;
        }

        #logo {
            float: none;
        }

        #menu {
            display: block;
            line-height: 75%;
        }

        #menu li {
            float: left;
        }

        .main {
            flex-direction: column;
        }

        .contact {
            margin-right: 1px;
            max-width: 60%
        }

        .c-form {
            max-width: 60%;
        }

        #form li {
            font-size: 13px;
        }

        #form input {
            font-size: 13px;
        }

        .cform h1 {
            font-size: 13px;
        }

    }
}