@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Source+Code+Pro:wght@200&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
   font-family:Source Code Pro, Poppins;
   font-weight: 300;
   color:#3b4754;
}
/* styling logo and header */

h1{
    font:Source Code Pro, Poppins;
    letter-spacing: normal;
    color:#000000;
    font-weight:lighter;
}
#logo{
    float:left;
    font-size: 200%;
    line-height: 75px;
    margin-left: 60px;
    color: #000000;
}

#menu{
    font-size:95%;
    color:#181d22;
    margin-right: 60px;
}

#menu li{
    float:right;
    list-style-type: none;
    margin:30px;
}

#menu a{
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    border-left: 1px solid #312d2d;
}

.active{
    border-left: 1px solid #312d2d;
}

#trans{
    background-color:rgb(14, 13, 13, 0.6);
    height:658px;
    width:1335px;
}

#dish-photo{
    height:658px;
    width: 1335px;
    background:url('../images/salmon.png') center center transparent;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

div #main-title{
    position:absolute;
    left:300px;
    top:100px;
}

#main-title, #main-title h1{
    font-size: 72px;
    color:white;
    font-family: Poppins, Source Code Pro;
    text-align: center;
    padding:0 auto;
    
    
}

#main-title, #main-title h2{
    font-size: 30px;
    color:white;
    font-family: inherit;
    text-align: center;
    margin:0 auto;
    line-height: 50px;
 
}

#enter-button{
    background-color: black;
    text-align: center;
    color: white;
    height: 40px;
    width:130px;
    margin:0 auto;
    padding-top:1%;
    position:absolute;
    top:200px;
    left:400px;  
    font-weight: bold;
} 

#enter-button, a{
    text-decoration:none;
    color:white;
}

#enter-button, a:hover{
    color:#c3f7c6
}

